.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 100%;
  min-height: 15rem;
  margin: 0 auto;

  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: var(--shadow-sm);
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 1rem;
    .card-type {
      font-variant: small-caps;
    }
  }
  .card-meta {
    display: flex;
    padding: 1rem;
    justify-content: right;

    gap: 1rem;
  }
  .card-desc {
    padding: 1rem;
  }
  .card-status {
    display: flex;
    padding: 1rem;
    justify-content: left;
  }
  .card-btn {
    display: flex;

    button {
      width: 50%;
      margin: 0.5rem auto;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1200px) {
  .event-card {
    width: 45%;
  }
}
/*laptop*/
@media (min-width: 1200px) {
  .event-card {
    width: 30%;
  }
}

/*desktop*/
@media (min-width: 1920px) {
}
