.loader-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  /*SRC: https://www.w3schools.com/howto/howto_css_loader.asp */
  .loader {
    border: 16px solid rgb(192, 192, 192);
    border-top: 16px solid var(--btn);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 1rem auto;
  }
  span {
    font-size: 0.8rem;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
